{% extends 'layout/project_layout.html.twig' %}

{% set page_title = 'Kanban' %}

{% block content %}
    {% include 'common/project_page_header.html.twig' %}

    <div data-controller="kanban--move"
         class="row"
    >
        {% for column in columns %}
            <div class="col">
                <h4>
                    {{ column.name }}
                </h4>
                <hr>
                <div class="d-flex flex-column"
                     data-kanban--move-target="column"
                     data-kanban--move-column-name-param="{{ column.name }}"
                >
                    {% for issue in column.items %}
                        <div class="card w-100 mt-1">
                            <div class="card-body">
                                <h5 class="card-title">{{ issue.code }}</h5>
                                <p class="card-text">{{ issue.title }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
