{% extends 'layout/layout.html.twig' %}

{% set page_title = 'Home' %}

{% block content %}
    <div class="row mt-3">
        <div class="col-12 ">
            <h1>{{ page_title }}</h1>
            <hr>
        </div>
    </div>
{% endblock %}
