{# templates/emails/user/activation_user.html.twig #}

<h1>Welcome {{ user.fullName }}!</h1>

<p>
    <a href="{{ url('app_activate_account', {
        'activationCode': userCode.code,
        'email': user.email
    }) }}">Set your password and activate account</a>
</p>
