{# templates/emails/site/forgot_password_mail.html.twig #}

<h1>Welcome {{ user.fullName }}!</h1>

<p>
    <a href="{{ url('app_reset_password', {
        'resetPasswordCode': userCode.code,
        'email': user.email
    }) }}">Here</a> is your reset password link
</p>
