<ul class="nav nav-tabs mb-3">
    {% for link in menu.links %}
        <li class="nav-item">
            <a class="nav-link {{ link.htmlClass() }}" aria-current="page" href="{{ link.path }}">{{ link.label }}</a>
        </li>
    {% endfor %}
</ul>
