<ul class="nav nav-pills flex-column mb-auto">
    {% for link in links %}
        <li class="nav-item">
            <a href="{{ link.url }}" class="nav-link {{ link.isActive ? 'active' : '' }}" aria-current="page">
                <i class="{{ link.icon }}" ></i>
                {{ link.label }}
            </a>
        </li>
    {% endfor %}
    <li class="nav-item">
        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link">
            <i class="iconoir-settings"></i>
            Settings
            <i class="bi bi-caret-down-fill"></i>
        </a>
        <ul class="collapse show nav flex-column" id="submenu1" data-bs-parent="#menu">
            <li class="w-100">
                <a href="#" class="nav-link ms-4">General</a>
            </li>
        </ul>
    </li>

</ul>
