<div data-controller="issue--title"
     data-issue--title-issue-id-value="{{ issue.id }}"
     data-issue--title-url-value="{{ path('app_project_issue_update_title', {id: project.id, issueCode: issue.code}) }}"
     data-issue--title-max-length-value="{{ titleMaxLength }}"
     class="card mb-3"
>
    <div class="card-header d-flex justify-content-between align-items-center">
        Title
        {% if isIssueEditable and is_granted('UPDATE_ISSUE_TITLE', project) %}
            <button data-action="click->issue--title#toggle"
                    data-issue--title-target="button"
                    class="btn btn-primary"
            >
                <i class="bi bi-pencil"></i>
            </button>
        {% endif %}
    </div>
    <div data-issue--title-target="text"
         class="card-body strw-update-title"
    >
        {{ issue.title }}
    </div>
</div>
