{% extends 'layout/project_layout.html.twig' %}

{% set page_title = issue.bracketCode ~ ' ' ~ issue.title %}

{% block content %}
    <div class="row mt-3">
        <div class="col-12">
            {% include 'issue/header.html.twig' %}

            {% include 'issue/issue.html.twig' %}
        </div>
    </div>
{% endblock %}
