{% extends 'layout/project_layout.html.twig' %}

{% set page_title = 'Sprint ' ~ sprint.number %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-12">
                {% embed 'common/project_page_header.html.twig' %}
                    {% block buttons %}
                        <button type="submit" class="btn btn-primary">End sprint</button>
                    {% endblock %}
                {% endembed %}
            </div>
            <div class="col-8">
                <canvas data-controller="sprint--burndown-chart"
                     data-sprint--burndown-chart-records-value="{{ chartRecords }}"
                >
                </canvas>
            </div>
        </div>
    </div>
{% endblock %}
