{% extends 'layout/project_layout.html.twig' %}

{% set page_title = 'Sprint ' ~ sprint.number %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-12">
                {% embed 'common/project_page_header.html.twig' %}
                    {% block buttons %}
                        <button type="submit" class="btn btn-primary">End sprint</button>
                    {% endblock %}
                {% endembed %}
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Burndown chart
                    </div>
                    <div class="card-body">
                        <canvas data-controller="sprint--burndown-chart"
                                data-sprint--burndown-chart-records-value="{{ chartRecords }}"
                        >
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Latest done issues
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for sprintGoalIssue in latestDoneIssues %}
                                <li class="list-group-item">
                                    <a href="{{ path('app_project_issue_view', {
                                        id: project.id,
                                        issueCode: sprintGoalIssue.issue.code
                                    }) }}">
                                        {{ sprintGoalIssue.issue.fullText }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
