{% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} mt-3">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
