<dialog class="rounded-3" data-confirm-dialog-target="dialog">
    <div class="d-flex flex-column m-4">
        <p>{{ dialogText ?? 'Are you sure?' }}</p>
        <div class="d-flex justify-content-end">
            <button data-action="confirm-dialog#close" class="btn btn-info">No</button>
            <form data-confirm-dialog-target="form" action="" method="post">
                <input type="submit" class="btn btn-danger ms-2" value="Yes">
            </form>
        </div>
    </div>
</dialog>
