@import '../../vendor/thomaspark/bootswatch/dist/united/variables';
@import '../../vendor/twbs/bootstrap/scss/bootstrap';
@import '../../vendor/thomaspark/bootswatch/dist/united/bootswatch';

html, body {
    height: 100%;
}

body:has(dialog[data-dialog-target='dialog'][open]) {
    overflow: hidden;
}

dialog {
    box-shadow: 0 0 0 100vw rgb(0 0 0 / 0.5);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

dialog[data-dialog-target='dialog'][open] {
    animation: fade-in 200ms forwards;
}

dialog[data-dialog-target='dialog'][closing] {
    animation: fade-out 200ms forwards;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.top-menu {
    height: 7vh;
}

.strw-top-menu-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
}

.strw-top-menu-right {
    display: flex;
    align-items: center;
    height: 7vh;
}

.sidebar {
    min-height: 93vh;
}

.backlog-metric {
    background: rgb(180,58,58);
    background: linear-gradient(180deg, rgba(180,58,58,1) 0%, rgba(253,145,29,1) 49%, rgba(251,252,69,1) 100%);
}

#project-member-table {
    td {
        vertical-align: middle;
    }
}

.strw-update-title {
    font-size: 1.4rem;
}

.strw-update-title-textarea {
    font-size: 1.4rem;
}

.strw-update-title-icon {
    font-size: 1.4rem !important;
    cursor: pointer;
}

.strw-clickable {
    cursor: pointer;
}

.strw-dropzone-container {
    border: dashed;
    padding: 1rem;
}

.strw-dropzone-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black solid .1rem;

    > img {
        width: 100%;
        max-height: 10vh;
    }
}

.strw-dropzone-item:hover .strw-dropzone-item-content {
    opacity: 0.3;
}

.strw-dropzone-item:hover .strw-dropzone-item-hover-content {
    opacity: 1;
}

.strw-dropzone-item-hover-content {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    text-align: center;
}

.strw-dropzone-icon {
    font-size: 2.5rem;
}

.strw-tag {
    margin: 0 3px 3px 0;
    padding: 1px 5px;
    border: 0 solid #dee2e6;
    border-radius: calc(var(--bs-border-radius) - 1px);
    display: inline-block;
}

.strw-no-events {
    pointer-events: none;
}

.strw-dragover {
    border: 3px dotted red;
}

// Profile
.strw-avatar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed black;
    width: 100%;
    aspect-ratio: 1/1;
}

.strw-avatar-hover-content {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    text-align: center;
    z-index: 12;
}

.strw-avatar-box:hover .strw-avatar-hover-content {
    opacity: 1;
}

// Kanban

.strw-kanban-column {
    display: flex;
    flex-direction: column;
}

.strw-kanban-issue {
    width: 100%;
}

.strw-kanban-target-column {
    background-color: var(--lt-color-gray-100);
}
