{% extends 'layout/layout.html.twig' %}

{% set page_title = 'Update user ' ~ user.email %}

{% block content %}
    <div class="container-fluid">
        {% include 'common/page_header.html.twig' %}

        {% include 'user/_form.html.twig' with {
            'buttonSubmit': 'Update'
        } %}
    </div>
{% endblock %}
